.container{
  display: flex;
  flex-wrap: wrap;
}

.countryContainer{
  width: 17%;
  margin: 1rem;
  background-color: #f1efef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
}

.countryName{
  margin: 0;
  margin-bottom: 5px;
}

.visited {
  opacity: 1;
}
